.form-group p{color: red; text-align:center;}
.requerido:after {content:"*"; color:red;}
.panel-default > .panel-heading {
    background-color: #E0ECF8;
    border-color: #ddd;
    color: #333;
}
.navbar-default {
    background-color: #E0ECF8;
    border-color: #e7e7e7;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: #d2deea;
    color: #555;
}

.single-team-member{
    min-height: 100px !important;
}

.team-member-name p{
    color: #222;
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 0;
    text-align: center;
}

.team-member-link{
    background: none !important;
}

.title {
    padding-bottom: 0;
}

#listarPreguntas{
    margin-top: 20px;
}

/* TAMAÑO XS*/
@media (max-width: 767px) {
  #registrar{
    padding: 13px 0;
  }
  .our-team-content-custom{
    margin-top: 0;
  }
}

/* TAMAÑO SM */
@media (min-width:768px){

}

/* TAMAÑO MD */
@media (min-width:992px){
}

/* TAMAÑO LG */
@media (min-width:1200px){
    .mostrar-cuestionarios {
        min-height: 450px;
    }
}
